@model IEnumerable<HShop.ViewModels.DetailInvoiceVM>
@{
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
	ViewBag.Title = "Chi tiết đơn đặt hàng";
}
<div>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Ảnh minh họa</th>
					<th scope="col">Tên sản phẩm</th>
					<th scope="col">Giá</th>
					<th scope="col">Số lượng</th>
					<th scope="col">Tổng tiền</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<th scope="row">
							<div class="d-flex align-items-center">
								<img src="~/Hinh/HangHoa/@item.Hinh" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="@item.TenHangHoa">
							</div>
						</th>
						<td>
							<p class="mb-0 mt-4">
								<a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHh">
									@item.TenHangHoa
								</a>
							</p>
						</td>
						<td>
							<p class="mb-0 mt-4">@item.DonGia.ToString("N0") $</p>
						</td>
						<td>
							<p class="mb-0 mt-4">@item.SoLuong</p>
						</td>
						<td>
							<p class="mb-0 mt-4">@item.ThanhTien.ToString("N0") $</p>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

	<div class="cart-summary bg-light border-top p-3 mb-2">
		<div class="container">
			<div class="flex-center">
				<!-- Thông tin tổng -->
				<div class="col-md-4 col-sm-6 d-flex justify-content-between align-items-center mt-2">
					<span class="fw-bold me-2 text-xl">Tổng tiền hàng: </span>
					<span class="text-xl"> @Model.Sum(p => p.ThanhTien).ToString("N0") $</span>
				</div>

				<!-- Phí vận chuyển -->
				<div class="col-md-4 col-sm-6 d-flex justify-content-between align-items-center mt-2">
					<span class="fw-bold me-2 text-xl">Phí vận chuyển: </span>
					<span class="text-xl"> 0 $</span>
				</div>

				<!-- Tổng thanh toán -->
				<div class="col-md-4 col-sm-6 d-flex justify-content-between align-items-center mt-2">
					<span class="fw-bold me-2 text-xl" style="color:#D10024">Tổng thanh toán: </span>
					<span class="text-xl" style="color:#D10024;"> @Model.Sum(p => p.ThanhTien).ToString("N0") $</span>
				</div>
			</div>
		</div>
		<div class="mt-4">
			<form asp-action="Confirm" asp-controller="Orders" method="post" class="form">
				<input type="hidden" name="id" value="@Model.First().MaHd" />
				<div class="w-50">
					<label for="deliveryDate" class="form-label fw-medium">Ngày giao hàng</label>
					<input type="date" class="form-control" id="deliveryDate" name="deliveryDate" required min="@DateTime.Now.ToString("yyyy-MM-dd")">
				</div>
				<div class="w-50">
					<button type="submit" class="btn btn-success px-4 py-2">
						Xác nhận đơn hàng
					</button>
				</div>
			</form>
		</div>
	</div>
</div>